body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.contenedor {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #71baff;
  box-shadow: 0 2px 4px rgba(74, 159, 255, 0.1);
}

h1 {
  color: #000d58;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 70%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(25, 16, 160);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#datosClima {
  margin-top: 20px;
  font-size: 18px;
}